{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
{{util.flashed_messages(dismissible=True)}}
<div class="container">
  <h1>AskedAgain</h1>
  <h3>Stack Over Questions </h3>

  	
  	{% for question in questions %}
		<h3> question[0] </h3>
        <ul>
  			<li> <p> LSH HASH VALUE: {{ question[1] }} </p> </li>
        </ul>
        <br>
  	{% endfor %}
  	

</div>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}